<ion-header [translucent]="true">
  <ion-toolbar color="gayray  ">
    <ion-title>
      Components
    </ion-title>
    <ion-header>
      <ion-toolbar>
        <ion-searchbar color="ray"></ion-searchbar>
      </ion-toolbar>
    </ion-header>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-segment value="all" color="ay">
    <ion-segment-button value="all">
      <ion-label>SELECT</ion-label>
    </ion-segment-button>
    <ion-segment-button value="favorites">
      <ion-label>TOGGLE</ion-label>
    </ion-segment-button>
  </ion-segment>
  <ion-list>
    <ion-item>
      <ion-select aria-label="Fruit" interface="popover" placeholder="Select Fruit">
        <ion-select-option value="apples">Watermelon</ion-select-option>
        <ion-select-option value="oranges">Banana</ion-select-option>
        <ion-select-option value="bananas">Apple</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>
  <ion-toggle [enableOnOffLabels]="true" color="ay">สถานะห้ามรบกวน</ion-toggle>
  <ion-button expand="block" (click)="presentToast('bottom')" color="red">Present Toast At the Bottom</ion-button>

</ion-content>



<ion-content>
  <ion-fab  slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button color="ya">
      <ion-icon name="chevron-up-circle"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button>
        <ion-icon name="document"></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon name="color-palette"></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon name="globe"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>


</ion-content>
